$text-c-ligth: rgb(255, 196, 0);
$text-c-dark: rgb(0, 0, 0);
$text-c-hover:rgb(196, 67, 67);

$bg-color-ligth: rgb(235, 235, 235);
$bg-color-medium: rgb(99, 98, 98);
$bg-color-dark: rgb(192, 70, 0);
$bg-color-hover: rgb(202, 202, 202);